In [4]:
import pandas as pd
import numpy as np

In [13]:
dates = pd.date_range('20130101', periods=6)
obj = pd.Series([0,1,2,3])
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print df

                   A         B         C         D
2013-01-01 -0.302932  1.352317  0.683584 -1.769327
2013-01-02 -0.033727 -0.411434  0.145321  0.683015
2013-01-03 -2.011942  0.172040  0.751044  1.641279
2013-01-04  0.623556 -1.145890  0.642629 -0.294122
2013-01-05 -1.269488  0.532542 -1.162664 -0.923940
2013-01-06 -0.995757  0.708924 -1.309840 -0.217792

In [16]:
df.sort_index(axis=0)

                   A         B         C         D
2013-01-01 -0.302932  1.352317  0.683584 -1.769327
2013-01-02 -0.033727 -0.411434  0.145321  0.683015
2013-01-03 -2.011942  0.172040  0.751044  1.641279
2013-01-04  0.623556 -1.145890  0.642629 -0.294122
2013-01-05 -1.269488  0.532542 -1.162664 -0.923940
2013-01-06 -0.995757  0.708924 -1.309840 -0.217792

In [25]:
df.sort_values(by= list("ABCD"))

                   A         B         C         D
2013-01-03 -2.011942  0.172040  0.751044  1.641279
2013-01-05 -1.269488  0.532542 -1.162664 -0.923940
2013-01-06 -0.995757  0.708924 -1.309840 -0.217792
2013-01-01 -0.302932  1.352317  0.683584 -1.769327
2013-01-02 -0.033727 -0.411434  0.145321  0.683015
2013-01-04  0.623556 -1.145890  0.642629 -0.294122

In [32]:
df.loc[dates[0],'A'] = 1
df.loc[dates[0],'A']

1.0

In [34]:
df.iloc[0,0] = 2
df.iloc[0,0]

2.0

In [38]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130101', periods=6))

In [39]:
df['F'] = s1
df

                   A         B         C         D  F
2013-01-01  2.000000  1.352317  0.683584 -1.769327  1
2013-01-02 -0.033727 -0.411434  0.145321  0.683015  2
2013-01-03 -2.011942  0.172040  0.751044  1.641279  3
2013-01-04  0.623556 -1.145890  0.642629 -0.294122  4
2013-01-05 -1.269488  0.532542 -1.162664 -0.923940  5
2013-01-06 -0.995757  0.708924 -1.309840 -0.217792  6